@import '../../../global';
body{
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #eee;
    color: #555;
}
$header-height: 58px;
#header{
    width: 100%;
    background-color: #4db7ad;
    box-shadow: 0 2px 6px rgba(100,100,100,0.3);
    @extend .topFixed;
    .container{
        @extend .clearfix;
        .title{
            display: block;
            float: left;
            height: $header-height;
            line-height: $header-height;
            color: #fff;
            font-size: 26px;
            margin-right: 20px;
        }
        .article-categories{
            float: left;
            overflow: hidden;
            .article-category{
                list-style: none;
                float: left;
                a{
                    display: block;
                    font-size: 14px;
                    color: #fff;
                    padding: 0 20px;
                    line-height: $header-height;
                    transition: all .4s ease;
                    &:hover{
                        background-color: #64a69c;
                    }
                }
            }
        }
    }
}
#content{
    @extend .container;
    margin-top: $header-height+20;
    overflow: hidden;
    #left-panel{
        width: 75%;
        float: left;
        padding: 20px;
        background-color: #fff;
        .articles{
            .article{
                overflow: hidden;
                position: relative;
                padding-bottom: 15px;
                min-height: 117px;
                background: url(@host/img/pc/article-line.png) bottom repeat-x;
                .image{
                    display: block;
                    float: left;
                    width: 240px;
                    height: 160px;
                    cursor: pointer;
                    margin-right: 20px;
                    &.none{
                        display: none;
                    }
                }
                .title-container{
                    padding-top: 10px;
                    .title{
                        color: #64a69c;
                        font-size: 18px;
                        line-height: 1.5em;
                        text-shadow: 1px 1px 2px #d5d5d5;
                        transition: all .4s ease;
                        &:hover{
                            padding-left: 20px;
                        }
                    }
                    .author{
                        margin-left: 15px;
                        font-size: 12px;
                        line-height: 27px;
                        color: #555;
                    }
                }
                .desc{
                    margin-top: 15px;
                    text-indent: 2em;
                    font-size: 14px;
                    line-height: 1.5em;
                    .read-more{
                        padding-left: 5px;
                        color: #555;
                        font-size: 14px;
                        line-height: 1.5em;
                        text-decoration: underline;
                    }
                }
                .meta{
                    position: absolute;
                    right: 0;
                    bottom: 15px;
                    color: #c4c4c4;
                    font-size: 14px;
                    line-height: 1.5em;
                }
            }
        }
    }
    #right-panel{
        width: 20%;
        float: right;
    }
}
.container{
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1080px) {
        width: 900px;
    }
    @media screen and (min-width: 1400px) {
        width: 1200px;
    }
}