@import '../../global';
body{
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #eee;
    color: #555;
}
#page-blog-index{
    @import 'components/blog_index_nav';
    .articles{
        padding: 10px;
        background-color: #fff;
        @import 'components/article_list_tpl1';
    }
    @import 'components/blog_menu';
    .bottom{
        height: 50px;
    }
}