@import '../global';
.article-categories{
    .article-category{
        list-style: none;
        padding: 10px;
        display: block;
        a{
            display: block;
            font-size: 14px;
            color: #64a69c;
            line-height: 30px;
            padding-left: 20px;
            border-left: 5px solid #64a69c;
            @extend .text-ellipsis;
        }
    }     
}