.blog-about{
    padding: 2%;
    width: 96%;
    background-color: #fff;
    .avatar{
        display: block;
        width: 100%;
        height: auto;
    }
    .user-info,.blog-info{
        p{
            padding: 10px 0;
            .label {
                font-size: 14px;
                font-weight: bold;
                line-height: 1.5em;
            }
            .value{
                font-size: 14px;
                line-height: 1.5em;
            }
        }
    }
}