.article{
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background: url(@host/img/pc/article_line.png) bottom repeat-x;
    .title{
        padding-top: 10px;
        color: #64a69c;
        font-size: 16px;
        line-height: 1.5em;
        text-shadow: 1px 1px 2px #d5d5d5;
    }
    .image{
        display: block;
        margin: 10px auto 0;
        width: auto;
        height: 160px;
    }
    .desc{
        margin: 10px 0;
        text-indent: 2em;
        font-size: 14px;
        line-height: 1.5em;
        color: #555;
    }
    .meta{
        text-align: right;
        margin-bottom: 5px;
        color: #c4c4c4;
        font-size: 14px;
        line-height: 1.5em;
        overflow: hidden;
        .author{
            margin-right: 20px;
        }
    }
}