.panel{
    .panel-title{
        line-height: 34px;
    }
    .panel-body{
        .meta span{
            margin-right: 15px;
            color: #444;
            margin-bottom: 12px;
        }
    }
}