@import '../../../../global';
.article{
    .title{
        font-size: 24px;
        line-height: 1.4em;
        font-weight: 400;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e7e7eb;
        margin-top: 0;
    }
    .meta{
        color: #8c8c8c;
        margin-bottom: 18px;
        line-height: 20px;
        .category,.created_at{
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 10px;
            font-size: 16px;
            vertical-align: middle;
        }
    }
    .content{
        min-height: 350px;
        overflow: hidden;
        color: #3e3e3e;
    }
}